<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navBar') %>

    <div class="container mt-5">
        <div class="row my-3 mb-4">
            <h1 class="display-5  col-md-10" style="text-transform: capitalize; border-radius: 5px;"><%- username %></h1>
    
            <div class="col-md-2">
              <form action="/putchem" method="GET">
                <input type="submit" class="btn btn-secondary w-100" value="Put Chemicals">
              </form>
            </div>
          </div>
          <hr>
          <div class="container">
            <div class="row my-3">
              <div class="col-md-12">
                <form action="/order" method="GET">
                  <input type="submit" class="btn btn-dark w-100 mb-3" value="Get Chemicals">
                    <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">Chemical Name</th>
                            <th scope="col">Expire Date</th>
                            <th scope="col">Manufacture Date</th>

                            <th scope="col">Row</th>
                            <th scope="col">Column</th>
                            <th scope="col">Availability</th>
                            <th scope="col" class="text-end">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- ejs -->
                
                    <% for (const chem of model) { %>
                        <tr class="<%= new Date(chem.exd) < new Date() ? 'table-danger' : 'table-secondary' %>">
                            <td class='text-start'><%= chem.name %></td>
                            <td><%= chem.exd %></td>
                            <td><%= chem.mfd %></td>
                            <td><%= chem.row %></td>
                            <td><%= chem.col %></td>
                            <td><%= (chem.presence==1) ? "Available" : "Not Available" %></td>
                            <td class='text-end'><input type='checkbox' class="<%= (chem.presence==1) ? 'chems' : ''%>"   name="<%= chem.c_id %>" onchange="checkChems()" <%= (chem.presence==1) ? "" : "disabled" %> ></td>
                        </tr>
                    <% } %> 

                    </tbody>
                </table>
        
    </form>
    
    <script>
        
        //add onchange="checkChems()"
        function checkChems() {
            const chems = document.querySelectorAll(".chems");
            let count = 0;
            console.log(chems);
            chems.forEach(chem => {
                if (chem.checked) {
                    count++;
                }
            });
            if (count >= 5) {
                chems.forEach(chem => {
                if (!chem.checked) {
                    chem.disabled = true;
                }
            }); 
            }
            else {
                chems.forEach(chem => {
                if (!chem.checked) {
                    chem.disabled = false;
                }
            });
            }
        }
    </script>
</div>
<%- include('partials/footer') %>
  </body>
</html>